@import "global.css";

/* project-specific CSS variables */
:root {
  /* Named colors */
  --textPrimaryColor: var(--base25);
  --textSecondaryColor: var(--base400);
  --textTertiaryColor: var(--base600);
  --textInvertedColor: var(--base950);
  --textDisabledColor: var(--base800);
  --textAccentedColor: var(--accent500);

  --borderLightColor: var(--base200);
  --borderPrimaryColor: var(--base700);
  --borderSecondaryColor: var(--base800);

  --iconPrimaryColor: var(--base200);
  --iconSecondaryColor: var(--base500);
  --iconAccentedColor: var(--accent500);

  --lightBackgroundColor: var(--base900);
  --highlightedBackgroundColor: var(--base800);
  --disabledBackgroundColor: var(--base600);
  --hoverBackgroundColor: color-mix(in srgb, var(--accent300), transparent 80%);

  --startColor: #19aa33;
  --successColor: #216c2e;
  --deleteColor: #dd2100;
  --errorColor: #912816;

  /* Fonts */
  --titleFontFamily: "Sen", var(--defaultFontFamily);
  --labelFontFamily: "Sen", var(--defaultFontFamily);
  --titleFontWeight: bold;

  /* Layout sizes */
  --headerHeight: 2.75rem;
  --pageWidth: 70rem;
}

a {
    color: var(--textAccentedColor);
}

body.esaWorldCerealProcesses {
  font-family: var(--titleFontFamily), sans-serif;
  color: var(--textPrimaryColor);
  background: var(--base950);
}

input {
  accent-color: var(--accent400);
}

/* Home */
.worldCereal-Home {
  padding-top: 1rem;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--base600);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--base500);
}

/* Content */
.worldCereal-appContent {
  max-width: var(--pageWidth);
  margin: 0 auto;
}

/* Buttons */
.esaWorldCerealProcesses .worldCereal-Button {
  height: 2rem;

  span {
    color: var(--textInvertedColor);
    font-size: var(--a1);
    font-family: var(--labelFontFamily), sans-serif;
    font-weight: 600;
  }

  &.is-disabled {
    background: var(--disabledBackgroundColor);

    span {
      color: var(--textDisabledColor);
    }
  }

  &.is-ghost {
    border: 1px solid var(--borderLightColor);
  }

  &.is-secondary{
    span {
      color: var(--textPrimaryColor);
    }
  }
}

/* Select */
.worldCereal-appContent .worldCereal-Select {
  font-family: var(--titleFontFamily) sans-serif;
	max-width: 25rem;

  .mantine-Select-input {
    font-family: var(--titleFontFamily) sans-serif;
  }

  .mantine-Select-label {
    font-weight: bold;
  }
}

.esaWorldCerealProcesses .mantine-Select-option {
  color: var(--textInvertedColor);
}

/* Modals */
.esaWorldCerealProcesses .worldCereal-Modal .mantine-Modal-content {
  background: var(--lightBackgroundColor);
  border: 1px solid var(--borderPrimaryColor);
  padding: 1rem;
}

/* Stepper */
.worldCereal-appContent .worldCereal-Stepper {
  .mantine-Stepper-stepLabel {
    font-weight: bold;
    font-size: var(--a1);
  }

  .mantine-Stepper-content {
    padding-top: 2rem;
  }
}

/* SegmentedControl */
.worldCereal-appContent .worldCereal-SegmentedControl {
	width: 20rem;
  .mantine-SegmentedControl-label:where([data-active]) .mantine-SegmentedControl-innerLabel {
    font-weight: bold;
  }
}
