.worldCereal-Title {
  display: flex;
  align-items: center;
  cursor: pointer;
	text-decoration: none;
}

.worldCereal-Title > div {
  display: flex;
  align-items: center;
}

.worldCereal-Title h1 {
  margin: 0.2rem 0 0;
  font-size: var(--font-size-lg);
  letter-spacing: 0;
}

.worldCereal-Title h1 span {
  padding: 0 0.5rem;
  color: var(--textAccentedColor);
  font-weight: 800;
  font-family: "Sen", "Roboto", sans-serif;
}

.worldCereal-Title h1 span:first-child {
  border-right: 2px solid var(--borderPrimaryColor);
  color: var(--textPrimaryColor);
}
