@use "sass:math";
@import "../../../../styles/variables.module.scss";

.worldCereal-Title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.worldCereal-Title > div {
  display: flex;
  align-items: center;
}

.worldCereal-Title img {
  height: 1.75rem;
}

.worldCereal-Title h1 {
  margin: 0.2rem 0 0;
  color: $textColorAccented;
  font-size: 1.0725rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
}

.worldCereal-Title h1 span {
  padding: 0 0.5rem;
  font-weight: 800;
}

.worldCereal-Title h1 span:first-child {
  border-right: 2px solid $borderColorPrimary;
  color: $textColorPrimary;
}
