@import "@gisatcz/ptr-core/lib/styles/reset.css";
@import "./variables.module.scss";

.ptr-light {
  --base0: #{$lightBase0};
  --base0rgb: #{$lightBase0rgb};
  --base05: #{$lightBase05};
  --base10: #{$lightBase10};
  --base15: #{$lightBase15};
  --base20: #{$lightBase20};
  --base25: #{$lightBase25};
  --base30: #{$lightBase30};
  --base35: #{$lightBase35};
  --base40: #{$lightBase40};
  --base45: #{$lightBase45};
  --base50: #{$lightBase50};
  --base50rgb: #{$lightBase50rgb};
  --base55: #{$lightBase55};
  --base60: #{$lightBase60};
  --base65: #{$lightBase65};
  --base70: #{$lightBase70};
  --base75: #{$lightBase75};
  --base80: #{$lightBase80};
  --base85: #{$lightBase85};
  --base90: #{$lightBase90};
  --base95: #{$lightBase95};
  --base100: #{$lightBase100};
  --base100rgb: #{$lightBase100rgb};

  --accent0: #{$lightAccent0};
  --accent0rgb: #{hexToRGB($lightAccent0)};
  --accent05: #{$lightAccent05};
  --accent05rgb: #{hexToRGB($lightAccent05)};
  --accent10: #{$lightAccent10};
  --accent10rgb: #{hexToRGB($lightAccent10)};
  --accent15: #{$lightAccent15};
  --accent15rgb: #{hexToRGB($lightAccent15)};
  --accent20: #{$lightAccent20};
  --accent20rgb: #{hexToRGB($lightAccent20)};
  --accent25: #{$lightAccent25};
  --accent25rgb: #{hexToRGB($lightAccent25)};
  --accent30: #{$lightAccent30};
  --accent30rgb: #{hexToRGB($lightAccent30)};
  --accent35: #{$lightAccent35};
  --accent35rgb: #{hexToRGB($lightAccent35)};
  --accent40: #{$lightAccent40};
  --accent40rgb: #{hexToRGB($lightAccent40)};
  --accent45: #{$lightAccent45};
  --accent45rgb: #{hexToRGB($lightAccent45)};
  --accent50: #{$lightAccent50};
  --accent50rgb: #{hexToRGB($lightAccent50)};
  --accent55: #{$lightAccent55};
  --accent55rgb: #{hexToRGB($lightAccent55)};
  --accent60: #{$lightAccent60};
  --accent60rgb: #{hexToRGB($lightAccent60)};
  --accent65: #{$lightAccent65};
  --accent65rgb: #{hexToRGB($lightAccent65)};
  --accent70: #{$lightAccent70};
  --accent70rgb: #{hexToRGB($lightAccent70)};
  --accent75: #{$lightAccent75};
  --accent75rgb: #{hexToRGB($lightAccent75)};
  --accent80: #{$lightAccent80};
  --accent80rgb: #{hexToRGB($lightAccent80)};
  --accent85: #{$lightAccent85};
  --accent85rgb: #{hexToRGB($lightAccent85)};
  --accent90: #{$lightAccent90};
  --accent90rgb: #{hexToRGB($lightAccent90)};
  --accent95: #{$lightAccent95};
  --accent95rgb: #{hexToRGB($lightAccent95)};
  --accent100: #{$lightAccent100};
  --accent100rgb: #{hexToRGB($lightAccent100)};
}

.ptr-dark {
  --base0: #{$darkBase0};
  --base0rgb: #{$darkBase0rgb};
  --base05: #{$darkBase05};
  --base10: #{$darkBase10};
  --base15: #{$darkBase15};
  --base20: #{$darkBase20};
  --base25: #{$darkBase25};
  --base30: #{$darkBase30};
  --base35: #{$darkBase35};
  --base40: #{$darkBase40};
  --base45: #{$darkBase45};
  --base50: #{$darkBase50};
  --base50rgb: #{$darkBase50rgb};
  --base55: #{$darkBase55};
  --base60: #{$darkBase60};
  --base65: #{$darkBase65};
  --base70: #{$darkBase70};
  --base75: #{$darkBase75};
  --base80: #{$darkBase80};
  --base85: #{$darkBase85};
  --base90: #{$darkBase90};
  --base95: #{$darkBase95};
  --base100: #{$darkBase100};
  --base100rgb: #{$darkBase100rgb};

  --accent0: #{$darkAccent0};
  --accent0rgb: #{hexToRGB($darkAccent0)};
  --accent05: #{$darkAccent05};
  --accent05rgb: #{hexToRGB($darkAccent05)};
  --accent10: #{$darkAccent10};
  --accent10rgb: #{hexToRGB($darkAccent10)};
  --accent15: #{$darkAccent15};
  --accent15rgb: #{hexToRGB($darkAccent15)};
  --accent20: #{$darkAccent20};
  --accent20rgb: #{hexToRGB($darkAccent20)};
  --accent25: #{$darkAccent25};
  --accent25rgb: #{hexToRGB($darkAccent25)};
  --accent30: #{$darkAccent30};
  --accent30rgb: #{hexToRGB($darkAccent30)};
  --accent35: #{$darkAccent35};
  --accent35rgb: #{hexToRGB($darkAccent35)};
  --accent40: #{$darkAccent40};
  --accent40rgb: #{hexToRGB($darkAccent40)};
  --accent45: #{$darkAccent45};
  --accent45rgb: #{hexToRGB($darkAccent45)};
  --accent50: #{$darkAccent50};
  --accent50rgb: #{hexToRGB($darkAccent50)};
  --accent55: #{$darkAccent55};
  --accent55rgb: #{hexToRGB($darkAccent55)};
  --accent60: #{$darkAccent60};
  --accent60rgb: #{hexToRGB($darkAccent60)};
  --accent65: #{$darkAccent65};
  --accent65rgb: #{hexToRGB($darkAccent65)};
  --accent70: #{$darkAccent70};
  --accent70rgb: #{hexToRGB($darkAccent70)};
  --accent75: #{$darkAccent75};
  --accent75rgb: #{hexToRGB($darkAccent75)};
  --accent80: #{$darkAccent80};
  --accent80rgb: #{hexToRGB($darkAccent80)};
  --accent85: #{$darkAccent85};
  --accent85rgb: #{hexToRGB($darkAccent85)};
  --accent90: #{$darkAccent90};
  --accent90rgb: #{hexToRGB($darkAccent90)};
  --accent95: #{$darkAccent95};
  --accent95rgb: #{hexToRGB($darkAccent95)};
  --accent100: #{$darkAccent100};
  --accent100rgb: #{hexToRGB($darkAccent100)};

  // Mantine
  --mantine-color-body: #{$darkBase0};
}

body {
  font-family: "Roboto", sans-serif;
}

input {
  accent-color: var(--accent60);
}

// custom scrollbar
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--base40);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--base50);
}

// Page
.esaWorldCerealProcesses {
  background: var(--base0);
}

.worldCereal-appContent {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 0.5rem 1rem;
}

// Overrides
// Button
.worldCereal-appContent .worldCereal-Button {
  height: 2rem;

  span {
    color: $textColorInverted;
    @include label;
  }
}

.worldCereal-appContent .worldCereal-SecondaryButton {
  span {
    color: $textColorPrimary;
  }
}

// Select
.worldCereal-appContent .worldCereal-Select {
  @include formItem;

  .mantine-Select-label {
    @include label;
  }
}

// Stepper
.worldCereal-appContent .worldCereal-Stepper {
  .mantine-Stepper-stepLabel {
    @include labelFont;
    font-size: $b2;
  }

  .mantine-Stepper-content {
    padding-top: 1.5rem;
  }
}

// Date input
.worldCereal-appContent .worldCereal-DateInput {
  @include formItem;

  .mantine-DateInput-label {
    @include label;
  }
}

// Segmented control
.worldCereal-appContent .worldCereal-SegmentedControl {
  .mantine-SegmentedControl-label {
    @include label;
    color: $textColorTertiary;
  }

  .mantine-SegmentedControl-label:where([data-active])
    .mantine-SegmentedControl-innerLabel {
    font-weight: bold;
    color: $textColorPrimary;
  }
}
