@use "sass:math";
@import "~@gisatcz/ptr-core/lib/styles/_variables";

/* --- General --- */
$lightAccent0: hsl(40, 100%, 99.41%);
$lightAccent05: hsl(42.5, 85.71%, 94.51%);
$lightAccent10: hsl(44, 84.91%, 89.61%);
$lightAccent15: hsl(44.31, 82.28%, 84.51%);
$lightAccent20: hsl(43.95, 82.69%, 79.61%);
$lightAccent25: hsl(44.3, 82.95%, 74.71%);
$lightAccent30: hsl(44.06, 83.12%, 69.8%);
$lightAccent35: hsl(43.89, 83.24%, 64.9%);
$lightAccent40: hsl(44.12, 83.33%, 60%);
$lightAccent45: hsl(44.21, 82.61%, 54.9%);
$lightAccent50: hsl(44.08, 82.75%, 50%);
$lightAccent55: hsl(44.21, 82.61%, 45.1%);
$lightAccent60: hsl(44.02, 82.44%, 40.2%);
$lightAccent65: hsl(44.3, 83.24%, 35.1%);
$lightAccent70: hsl(44.19, 83.23%, 30.39%);
$lightAccent75: hsl(43.89, 83.08%, 25.49%);
$lightAccent80: hsl(44.14, 82.86%, 20.59%);
$lightAccent85: hsl(43.64, 82.5%, 15.69%);
$lightAccent90: hsl(44.35, 85.19%, 10.59%);
$lightAccent95: hsl(43.2, 86.21%, 5.69%);
$lightAccent100: hsl(45, 100%, 0.78%);

$darkAccent0: hsl(45, 100%, 0.78%);
$darkAccent05: hsl(43.2, 86.21%, 5.69%);
$darkAccent10: hsl(44.35, 85.19%, 10.59%);
$darkAccent15: hsl(43.64, 82.5%, 15.69%);
$darkAccent20: hsl(44.14, 82.86%, 20.59%);
$darkAccent25: hsl(43.89, 83.08%, 25.49%);
$darkAccent30: hsl(44.19, 83.23%, 30.39%);
$darkAccent35: hsl(44.3, 83.24%, 35.1%);
$darkAccent40: hsl(44.02, 82.44%, 40.2%);
$darkAccent45: hsl(44.21, 82.61%, 45.1%);
$darkAccent50: hsl(44.08, 82.75%, 50%);
$darkAccent55: hsl(44.21, 82.61%, 54.9%);
$darkAccent60: hsl(44.12, 83.33%, 60%);
$darkAccent65: hsl(43.89, 83.24%, 64.9%);
$darkAccent70: hsl(44.06, 83.12%, 69.8%);
$darkAccent75: hsl(44.3, 82.95%, 74.71%);
$darkAccent80: hsl(43.95, 82.69%, 79.61%);
$darkAccent85: hsl(44.31, 82.28%, 84.51%);
$darkAccent90: hsl(44, 84.91%, 89.61%);
$darkAccent95: hsl(42.5, 85.71%, 94.51%);
$darkAccent100: hsl(40, 100%, 99.41%);

@function hexToRGB($color) {
  // @return rgb(red($color), green($color), blue($color))
  @return red($color), green($color), blue($color);
}

// Text sizes (1.25 ratio)
$ratio: 1.167;
$baseSize: 0.875;

$a1_size: ($baseSize);
$b1_size: math.div($a1_size, $ratio);
$b2_size: ($a1_size * $ratio);
$a0_size: math.div($b1_size, $ratio);
$a2_size: ($b2_size * $ratio);
$b0_size: math.div($a0_size, $ratio);
$b3_size: ($a2_size * $ratio);

$b0: #{$b0_size}rem;
$a0: #{$a0_size}rem;
$b1: #{$b1_size}rem;
$a1: #{$a1_size}rem;
$b2: #{$b2_size}rem;
$a2: #{$a2_size}rem;
$b3: #{$b3_size}rem;

// Components
$headerHeight: 2.75rem;

// Colors
$textColorPrimary: var(--base95);
$textColorSecondary: var(--base65);
$textColorTertiary: var(--base40);
$textColorInverted: var(--base10);
$textColorAccented: var(--accent55);
$disabledColor: var(--base30);

$borderColorPrimary: var(--base35);
$borderColorSecondary: var(--base20);

$iconColorPrimary: var(--base80);
$iconColorSecondary: var(--base50);

$lightBackground: var(--base10);
$hoverBackground: var(--base30);

:export {
  lightAccent0: $lightAccent0;
  lightAccent10: $lightAccent10;
  lightAccent20: $lightAccent20;
  lightAccent30: $lightAccent30;
  lightAccent40: $lightAccent40;
  lightAccent50: $lightAccent50;
  lightAccent60: $lightAccent60;
  lightAccent70: $lightAccent70;
  lightAccent80: $lightAccent80;
  lightAccent90: $lightAccent90;

  darkAccent0: $darkAccent0;
  darkAccent10: $darkAccent10;
  darkAccent20: $darkAccent20;
  darkAccent30: $darkAccent30;
  darkAccent40: $darkAccent40;
  darkAccent50: $darkAccent50;
  darkAccent60: $darkAccent60;
  darkAccent70: $darkAccent70;
  darkAccent80: $darkAccent80;
  darkAccent90: $darkAccent90;

  lightBase0: $lightBase0;
  lightBase10: $lightBase10;
  lightBase20: $lightBase20;
  lightBase30: $lightBase30;
  lightBase40: $lightBase40;
  lightBase50: $lightBase50;
  lightBase60: $lightBase60;
  lightBase70: $lightBase70;
  lightBase80: $lightBase80;
  lightBase90: $lightBase90;

  darkBase0: $darkBase0;
  darkBase10: $darkBase10;
  darkBase20: $darkBase20;
  darkBase30: $darkBase30;
  darkBase40: $darkBase40;
  darkBase50: $darkBase50;
  darkBase60: $darkBase60;
  darkBase70: $darkBase70;
  darkBase80: $darkBase80;
  darkBase90: $darkBase90;
  darkBase100: $darkBase100;

  iconColorPrimary: $iconColorPrimary;

  a0: $a0;
  b1: $b1;
  a1: $a1;
  b2: $b2;
  a2: $a2;
}
