@use "sass:math";
@import "@features/(shared)/variables.module.scss";


.worldCereal-ProcessStatus {
  font-size: $b2;
  font-family: "Sen","Roboto", sans-serif;
  pointer-events: none;
}

.worldCereal-ProcessStatus label {
  font-size: $b1;
  height: 1.5rem;
}

.worldCereal-ProcessStatus label span:last-child {
  line-height: 1;
  color: $textColorPrimary;
}
