.worldCereal-ProcessesTable-Details {
  display: flex;
  width: 100%;
  justify-content: start;
}

.worldCereal-ProcessesTable-Details-column {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;

  &:not(:first-child) {
    margin-left: 5rem;
  }
}

.worldCereal-ProcessesTable-DetailItem {
  span {
    color: var(--textSecondaryColor);
    font-size: var(--a0);
  }
  div {
    color: var(--textPrimaryColor);
    font-size: var(--a1);
  }
}

.worldCereal-ProcessesTable-DetailItem-result {
  display: inline;
  margin-right: 0.5rem;
}

.worldCereal-MapDetails-coordinates {
  color: var(--textSecondaryColor);
  font-size: 0.7497857755rem;
}
