.worldCereal-ProcessesTable-noProcess {
    color: var(--textPrimaryColor);
    font-size: var(--font-size-md);
}

.worldCereal-ProcessesTable .mantine-Table-th {
    font-size: var(--font-size-sm);
    color: var(--textSecondaryColor);
}
